<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cholli.to Panel</title>
</head>
<body>
    <div class="main-container">
        <div class="app-container">
            <div class="app-login-container">
                <div class="app-login-header">
                    <header> Panel </header>
                </div>
            </div>
            <div class="app-login-inputs">
                <form action="POST" name="login">
                    <input type="email" name="email" id="usermail" placeholder="Tu email.."/>
                    <input type="password" name="password" id="userpass" placeholder="Tu contraseña.." />
                </form> 
            </div>
        </div>
    </div>
</body>
</html>